apiVersion: v1
kind: Service
metadata:
  name: "{{ proxy.name }}-oauth2"
  labels:
    app: "{{ proxy.name }}"
    component: "{{ proxy.name }}-oauth2"
spec:
  selector:
    app: "{{ proxy.name }}"
    component: "{{ proxy.name }}-oauth2"
  ports:
  - port: 4180
    name: http
    protocol: TCP
