apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ cluster_name }}-jenkins-home"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ jenkins.master.storage }}"
